#homepage {

    // top navigation
    #navbar {
        .wrapper {
            width: 100%;
            height: 6rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .logo {
                height: 100%;
                width: 12rem;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 100%;
                }
            }

            .menu {
                width: 50rem;
                height: 100%;

                ul {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    list-style: none;

                    li {
                        position: relative;
                        cursor: pointer;

                        a {
                            font-size: 1.8rem;
                            text-decoration: none;
                            color: rgb(177, 16, 22);
                            font-weight: 500;
                        }

                        &::after {
                            position: absolute;
                            content: '';
                            top: 110%;
                            left: 0;
                            width: 0;
                            height: .2rem;
                            background-color: rgb(177, 16, 22);
                            border-radius: .5rem;
                            -webkit-border-radius: .5rem;
                            -moz-border-radius: .5rem;
                            -ms-border-radius: .5rem;
                            -o-border-radius: .5rem;
                            transition: .2s;
                            -webkit-transition: .2s;
                            -moz-transition: .2s;
                            -ms-transition: .2s;
                            -o-transition: .2s;
                        }

                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }

            }
        }
    }

    // top navigation end

    // header area

    #header_area{
        height: 90vh;
        width: 100%;
        background-image: url(./../images/photo-1454165804606-c3d57bc86b40.jfif);
        background-repeat: no-repeat;
        background-size: 100%;
        background-attachment: fixed;
    }

    // header area end




























}